

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  flex: 1;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;

}

.walletName {
  margin-top: 60px;
  text-align: center;
}

.createWallet {
  margin-top: 40px;
  text-align: center;

}

#pageHeader {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: cadetblue;
  margin-bottom: 30px;
}








